
#title{
    background-color: #ff4c68;
}

h1 {  
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
    color: white;
    margin-left: 2rem;
}

body{
    font-family: 'Montserrat', sans-serif;
}

#logo-atas{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 1rem;
}

#tombolAndroid{
    margin-left: 10px;
}

#tombolApple{
    margin-left: 2rem;
}
.navbar{
    padding-bottom: 4rem;
    margin-right: 3rem;
}

.nav-item{
    margin: 10px 10px;
    font-weight: 400;
}

.tombol{
    margin: 5px 3px 200px 0px;
}


.title-image{
    width: 400px;
    transform: rotate(30deg);
    position: absolute;
}

#features{
    background-color: white;
    padding: 100px;
    position: relative;
    z-index: 1;
}


@media (min-width: 790px) and (max-width: 800px) {
 
    #title{
    text-align: center;
    margin-bottom: 0px;
    }
     
    .title-image{
      position: relative;
      transform: rotate(0);
    }
    
    #tombolApple{
        position: absolute;
        left: 1rem;
    }
    #tombolAndroid{
        position: relative;
        top: 10px;
        right: 10px;
    }

}

@media (min-width: 800px) and (max-width: 1028px) {
 
    #title{
    text-align: center;
    margin-bottom: 0px;
    }
     
    .title-image{
      position: relative;
      transform: rotate(0);
    }
    
    #tombolAndroid, #tombolApple{
        margin: 10px;
    }

}

@media (min-width: 765px) and (max-width: 800px) {
 
    #title{
    text-align: center;
    margin-bottom: 0px;
    }
     
    .title-image{
      position: relative;
      transform: rotate(0);
    }
    
    #tombolAndroid{
        position: relative;
        left: 100px;
        bottom: 103px;
    }
    
    #tombolApple{
        position: relative;
        right: 70px;
        top: 5px;
    }

}

@media (max-width:800px){
    .title-image{
        position: relative;
        transform: rotate(0);
        width: 70%;
        margin-bottom: 30px;
    }

    #title{
        text-align: center;
    }

    #tombolAndroid, #tombolApple{
        margin: 10px 10px 50px 10px;
    }
}


.logoFeatures{
    color: #ef8172;
    font-size: 75px;
    margin: 10% 40%;
}
.logoFeatures:hover{
    color: #ff4c68;
    transition: 500ms;
} 

h3{
    font-weight: 700;
    text-align: center;
}

.feature-text{
    text-align: center;
    color: #8f8f8f;
}

.carousel-inner{
    padding: 7% 15%;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}
p{
    text-align: center;
}

#foto-carousel{
    width: 10%;
    border-radius: 100%;
    margin: 1rem;
}

#press{
    text-align: center;
    background-color: #ef8172;
    padding: 20px;
}

.press-image{
    width: 15%;
    margin: 20px 15px;
}

#pricing{
    padding: 100px 150px;
}

#pricing-text{
    margin-bottom: 50px;
}

.card-body{
    text-align: center;
}

#cta{
    background-color:#ff4c68;
    color: white;
    text-align: center;
    padding: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

}

#cta-text{
    font-size: 48px;
    margin-bottom: 5rem;
}

#footer{
    background-color: white;
    padding: 3rem;
}

.downloadApple, .downloadPlay{
    margin: 10px;
    padding: 10px 40px;
}

.signButton{
    background-color: #ff4c68;
    border-color: #ff4c68;
}

.signButtonOutline{
    border-color: #ff4c68;
    color: #ff4c68;
}

#logo-footer{
    text-align: center;
    margin: 2rem;
}

.logoFooter{
    margin: 1rem;
}
